#charmander{	
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;
  
 background: url("char.webp" "testee.webp");
background-position: center;
background-size: cover;
}

#charmeleon{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("testee.webp");
background-position: center;
background-size: cover;
} 
#Charizard{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Charizard.jpg");
 background-position: center;
 background-size: cover;
} 

#squirtle{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Squir.webp");
background-position: center;
background-size: cover;
}

#wartortle{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Wartortle.jpg");
 background-position: center;
 background-size: cover;
}

#Blastoise{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Blastoise.jpg");
 background-position: center;
 background-size: cover;
}

#bubasaur{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Buba.webp");
 background-position: center;
 background-size: cover;
}

#Ivysaur{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Ivysaur.jpg");
 background-position: center;
 background-size: cover;
}

#Venusaur{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Venusaur.jpg");
 background-position: center;
 background-size: cover;
}

#pikachu{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Pikachu.webp");
background-position: center;
background-size: cover;
}

#raichu{
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 250px;
	border-radius: 20px;

 background: url("Rai.webp");
background-position: center;
background-size: cover;
}

#POKEDÉXLUIZ{
    display: flex;
    justify-items: baseline;
    padding-left: 9vw;
    font-size: 2vw;
    background-color:green;
}
.pokemon{
    display: flex;
    flex-direction: column;
    background-color: green;
    margin: 10px;

  }
